<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Photo Picker</title>
	  <link href="/styles.css" rel="stylesheet">
	  <script src="/js/jquery.slim.min.js"></script>
		<script src="/js/picker.js"></script>
	  <script src="/qrcode.js"></script>

	</head>

	<body>

    <div class="p-2">

     	<div class="p-8 flex flex-col items-center align-center">
        <h1 class="text-2xl m-2 mb-8">You may be missing your credentials in config.cjs, or there may be an error in your Google Cloud Console Project setup</h1>
        
        <div class="flex align-center items-center">
        	<p class="m-2 mt-8 text-sm">To see a more detailed error, check your web browser console, where an error has been logged.</p>
				</div>

      </div>

    </div>

	</body>

	<script type="text/javascript">

	</script>

</html>
